name: Actualizar datos de tasas

on: [workflow_dispatch] # ejecutar s칩lo manual
  #schedule:
   # - cron: '0 */12 * * *'  

jobs:
  fetch-and-save:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v4

      - name: Obtener datos de la API
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}  # Guarda tu token en Secrets.
        run: |
          curl -s -X 'GET' \
            'https://tasas.eltoque.com/v1/trmi' \
            -H 'accept: */*' \
            -H "Authorization: Bearer $API_TOKEN" \
            > data.json

      - name: Subir cambios al repositorio
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add data.json
          git commit -m "Actualizaci칩n autom치tica: $(date -u)"
          git push
